<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a class="page-title">Chat</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
        <i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>
<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo"><img src="src/static/css/img/logo.png">
  </li>
  <li><a class="waves-effect bold" href="https://analuisaia.github.io/index.html">Inicio</a></li>
  <li><a class="waves-effect bold" href="#!">Nosotros</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect">Menús</a>
        <div class="collapsible-body">
          <ul>
            <li><a class="waves-effect" href="https://analuisaia.github.io/desayuno.html">Desayuno</a></li>
            <li><a class="waves-effect" href="https://analuisaia.github.io/comidas.html">Comida</a></li>
            <li><a class="waves-effect" href="https://analuisaia.github.io/cena.html">Cena</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="waves-effect bold" href="https://analuisaia.github.io/comentarios.html">Comentarios</a></li>
  <li><a class="waves-effect bold" href="https://restaurente-fireangular.firebaseapp.com/">Chat</a></li>
</ul>
