#main, #footer {
  padding-left: 280px;
}

@media only screen and (max-width: 992px) {
  #main, #footer {
    padding-left: 0;
  }
}

footer.page-footer {
  padding-top: 0px;
}

.contenedor-chat {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#chat-letra{
  font-family: 'Maven Pro';
}
